*{margin: 0;
    padding: 0;}

/*produtos*/
body{background-color: dimgray;}

.container{display: flex;}

.item01{margin: 10px;
    background-color: darkgray;
    padding: 10px;
    width: 375px;}

.item01 img{width: 100%;
    height: 250px;}

.item02{margin: 10px;
    background-color: darkgray;
    padding: 10px;
    width: 375px;}

.item02 img{width: 100%;
    height: 250px;}

#p1{margin: 10px 0;}

#p2{margin: 10px 0;}

.addcar{border: none;
    color: white;
    background-color:darkred;padding: 5px 10px;
    cursor: pointer;}















/*carrinho*/
.carrinho{background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 500px;
    transition: .5s;}

.opencar{width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;}

.opencar img{width: 110%;
    background-color: white;}

.totaldascompras{display: none;}


/*itens*/
#item01{display: none;
    margin: 2px 0;
    height: 83%;
    overflow-y: auto;}

.itens{padding: 5px 10px;
    margin: 5px 0;
    background-color: rgb(226, 222, 222);}    





.open{width: 340px;
    overflow: hidden;}

.open .opencar{position: static;
    transform: rotate(45deg);}
    
.open .totaldascompras{display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 93.5%;
    border: 1px black solid;
    position: absolute;
    right: 0;
    bottom: 0;}

.open #item01{display: block;}






/*addremove*/
.addremove{display: flex;
    align-items: center;}

.addremove .p{margin-right: 15px;}

.addremove button{padding: 0 5px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: white;}

.total{display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-top: none;
    padding: 10px;}



